{% extends 'MsBase.html' %}
{% load static %}
{% block title %} Master Student | Tareografo {% endblock %}
{% block content %}
<br/>

<p style="text-align:center; color: #ffffff;">Selecciona tu curso por favor</p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{# Boton de 11A #}
<a type="button" class="btn" id = "Ta_butt_11A" href="https://calendar.google.com/calendar/u/0?cid=a21vYXIzbG0wcW1zMXY4ZHFvaHM1ODBqcW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">11A</a>

{# Boton de 11B #}
<a type="button" class="btn" id = "Ta_butt_11B" href="https://calendar.google.com/calendar/u/0?cid=Ym1qbGJidDN2aHJqamdrNjZhZGozdWkzMG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">11B</a>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{# Boton de Volver #}
<a type="button" class="btn" id = "Ta_butt_Volv" href="/">Volver</a>

{# AHORA YA ESTA PARA MAC FELICES DODOS? #}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% comment "" %}<img src="{% static 'imagenes/ms.png' %}" class="img-fluid" alt="150" id = "LogoMs">
<img src="{% static 'imagenes/realCAS.png' %}" class="img-fluid" alt="100" id = "Pinos">{% endcomment %}

{% endblock content %}