{#asi es como se comenta, es re ez#}
<!DOCTYPE html>
    <html>
    <head>
        <title> Plantilla que recibe parametros </title>
        <style type="text/css">
        li {
            color: green;
        }
        </style>
    </head>
    <body>
        <h1>Nombre: {{nombreCanal}}</h1>
        <h2>Fecha Actual:{{fechaActual.day}}/{{fechaActual.month}}/{{fechaActual.year}}</h2>
        <h3>numero de lenguajes: {{lenguajes|length }} </h3>
        <ul>
            {% for leng in lenguajes %}
                {%if leng == "python"%}
                    <li style = 'color: blue;'>{{leng}}</li>
                {%else%}
                    <li>{{leng|first}} : {{leng|upper}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>
{% comment%}
esto es para hacer ->
comentarios->
de mas de 1 linea.
{% endcomment %}