#lbl_TopPgAp{
    text-align: center;
    color: white;
}

#BioninjaCard{
    width: 15rem;
    position: absolute;
    left: 10%;
}

#BiliotecaBlogCard{
    width: 15rem;
    position: absolute;
    left: 30%;
}

#Bioknowledgy{
    width: 15rem;
    position: absolute;
    left: 50%;

}

#Sabuco{
    width: 15rem;
    position: absolute;
    left: 70%;

}

#PgAp_butt_Volv{
    background-color: #C0DFA1;
    position: absolute;
    top: 65%;
    left: 80.67%;
    width: 13%;
    height: 60px;
}