#lbl_TopPgAp{
    text-align: center;
    color: white;
}

#BioninjaCard{
    width: 18rem;
    position: absolute;
    left: 10%;
}

#BiliotecaBlogCard{
    width: 18rem;
    position: absolute;
    left: 40%;
}

#Bioknowledgy{
    width: 18rem;
    position: absolute;
    left: 80%;

}

#PgAp_butt_Volv{
    background-color: #C0DFA1;
    position: absolute;
    top: 65%;
    left: 80.67%;
    width: 150px;
    height: 50px;
}