#Ta_butt_11A{
    background: #CAFF89;
    position: relative;
    top: 50%;
    left: 5%;
    width: 13%;
    height: 60px;
}

#Ta_butt_11B{
    background: #CAFF89;
    position: relative;
    top: 50%;
    left: 55%;
    width: 13%;
    height: 60px;
}

#Ta_butt_Volv{
    background: #CAFF89;
    position: relative;
    top: 50%;
    left: 84%;
    width: 13%;
    height: 60px;
}
