#Tu_butt_10A{
    background: #8CF0D8;
    position: relative;
    left: 13.33%;
    width: 150px;
    height: 50px;
}

#Tu_butt_10B{
    background: #8CF0D8;
    position: relative;
    left: 36.66%;
    width: 150px;
    height: 50px;
}

#Tu_butt_10C{
    background: #8CF0D8;
    position: relative;
    left: 63.67%;
    width: 150px;
    height: 50px;
}

#Tu_butt_Volv{
    background: #8CF0D8;
    position: relative;
    top: 50%;
    left: 80.67%;
    width: 150px;
    height: 50px;
}